* {
	margin: 0;
	box-sizing: border-box;
	color: #332F23;
}

footer {
	position: relative;
	padding: 3em 1em;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer::before {
	content: "";
	background-image: url("/Img/joel-jasmin-forestbird-xzPMUMDDsfk-unsplash.jpg");
	background-size: cover;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.25;
}

.social-media {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1em;
}

.social-icons img {
	max-width: 4em;
	margin: 0.5em;
}

.facebook-icon {
	border-radius: 0.8em;
}

.kontaktuppgifter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.kontaktuppgifter>h3,
.social-media>h4 {
	font-size: 1.3em;
	margin: 0.5em 0;
}

.kontaktuppgifter>p {
	margin-bottom: 0.5em;
	font-size: 1.1em;
}

@media screen and (min-width: 600px) {
	footer {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
	}

	.social-media {
		margin-top: unset;
	}
}