header {
	padding: 2em 0;
	display: grid;
	grid-template-columns: 1fr;
	background-image: url(/Img/background-header&footer.png);
	background-size: cover;
	align-items: center;
	grid-template-areas: "logo logo"
		"nav-links nav-links";
	gap: 2em;
}

.logo {
	grid-area: logo;
	max-height: 15em;
	justify-self: center;
}

.nav-links {
	grid-area: nav-links;
	justify-self: center;
	align-self: flex-end;
	display: flex;
	gap: 2em;
}

.services-link,
.about-link {
	font-size: 1.3em;
	color: #332F23;
	cursor: pointer;
	text-decoration: none;
}

.services-link:hover,
.about-link:hover {
	text-decoration: underline;
}

@media screen and (min-width:700px) {

	header {
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas: ". logo nav-links";
	}
}