.services-link {
	text-decoration: underline;
}

main {
	padding: 2em 5em 3em 5em;

}

/* .info-form-section {
	display: flex;
	min-width: 100%;
} */

.section {
	margin: 2em;
}

.heading {
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

.services-section {
	grid-area: services;
	/* max-width: 60em; */
}

.form-section {
	grid-area: form;
	display: none;
}

.label {
	margin-top: 1em;
	cursor: pointer;
}

.required {
	color: red;
}

#name,
#e-mail {
	min-height: 2em;
}

#message {
	min-height: 15em;
}

#name,
#e-mail,
#message {
	padding: 0.4em;
	border-radius: 0.5em;
	border: 1px solid #838278;
}

.send-button {
	font-weight: bold;
	font-size: 0.9em;
	margin-top: 1em;
	padding: 0.5em 1em;
	align-self: flex-end;
	background-color: #CFDA58;
	border-radius: 0.5em;
	cursor: pointer;
	border: 1px solid #838278;
}

.send-button:hover {
	background-color: #B0CF37;

}

@media screen and (min-width: 1000px) {
	main {
		padding: 2em 2em 3em 2em;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-areas: "services form"
			"carousel carousel";
	}

	.form-section {
		display: unset;
		display: flex;
		flex-direction: column;
		margin-top: 2em;
	}
}